<head>
  <title>Profile</title>
</head>
  <h1>User Profile</h1>
  {{user}}
    <p>
      <img src="http://placehold.it/300x200" />
    </p>
    <form class="user-form" action="" method="post">
    <input type="hidden" name="_id" value="{{user._id}}">
    <p>
      <input type="text" name="username" value="{{user.username}}" placeholder="Username">
    </p>
    <p>
      <input type="text" name="full_name" value="{{user.full_name}}" placeholder="Name">
    </p>
    <p>
      <input type="text" name="email" value="{{user.email}}" placeholder="Email">
    </p>
    <p>
      <input type="text" name="bio" value="{{user.bio}}" placeholder="Bio">
    </p>
    <p>
      <button type="submit">Submit</button>
    </p>
  </form>
